.container-fluid
  %ul.list-unstyled
    %li
      %a.fa.fa-2x.fa-github{:href => "http://github.com/dmcinnes"}
    %li
      %a.fa.fa-2x.fa-twitter{:href => "http://twitter.com/DougMcInnes"}
    %li
      %a.fa.fa-2x.fa-envelope{:href => "mailto:doug@dougmcinnes.com"}
    %li
      %a{:href => "/archives"} Blog
    %li
      %a{:href => "/about"} About
