html {
  background: url(/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(255,255,255,0.5);
}

a {
  color: #333;
}

a:hover {
  color: #334
}

.page-header {
  border: none;
}

.page-header a:hover {
  text-decoration: none;
}
