<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/readable/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "/css/main.css", :rel => "stylesheet"}
    %link{:href => "/index.xml", :rel => "alternate", :title => "#{title} - feed", :type => "application/atom+xml"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= title
  %body{:class => @path}
    %header.container-fluid.page-header
      .container
        .row.col-md-8.col-md-offset-1
          %h1
            %a{:href => "/"} Doug McInnes

          .icons
            %a.fa.fa-2x.fa-github{:href => "http://github.com/dmcinnes", :title => "Github"}
            %a.fa.fa-2x.fa-twitter{:href => "http://twitter.com/DougMcInnes", :title => "Twitter"}
            %a.fa.fa-2x.fa-at{:href => "mailto:doug@dougmcinnes.com", :title => "Email"}
            %a.fa.fa-2x.fa-exclamation-circle{:href => "/blog", :title => "Blog"}
            %a.fa.fa-2x.fa-question-circle{:href => "/about", :title => "About"}

    %section.container.main-content
      .row.col-md-8.col-md-offset-1
        = yield

    %footer
